
/*      BAŞLIK      */

.basAna {
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 10;
	float: left;	
}
.bas{
    margin: 0 auto;
    width: 980px;
    height: 123px;
}
.basSol{
    float: left;
    margin-top: 25px;
}
.basSag{
    float: right;
}
.basSagUst {
    float: right;
    width: 800px;
    height: 40px;
    border-bottom: 1px solid grey;
}
.basSagAlt{
    float: right;
	background: url(umraniye/headerMenubg.png) no-repeat center 30px;
}
#sosyal {
    width: 400px;
}
.sosyalLinkler {
    float: left;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.linkler .sosyalLinkler a {
	float: left;
	font-size: 10px;
	height: 23px;
	padding-top: 17px;
	padding-left: 3px;
	padding-right: 3px;
}
#social .sosyalLinkler a:hover {
	background: #F7F7F7;
}
.linkler .sosyalLinkler a:before {
	content: '';
	float: left;
	height: 22px;
	margin-right: 6px;
	position: relative;
	top: -10px;
}
.linkler {
    float: left;
    width: 244px;
    height: 40px;
    border-right: 1px solid grey;
    position: relative;
}

.callCenter {
	float: right;
	height: 33px;
}
.callCenter p {
	width: 85px;
	height: 30px;
	float: left;
    font-size: 10px;
    color: black;
}
.callCenter p b {
	float: left;
	font-size: 18px;
}
.basSagUst .callCenter span{
	background: url(umraniye/call-center.png) no-repeat;
	float: left;
	width: 30px;
	height: 40px;
	margin-top: 8px; 
}
.basSag .basSagAlt {
	float: right;
	clear: both;
	width: 100%;
	height: 85px;
	background: url(umraniye/headerMenubg.png) no-repeat center 30px;
}

